/** {
  border-style: solid;
  border-color: black;
  border-width: thin;
}*/

/*div {
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: thin;

}*/

.top-container {
  height: 200px;
  width: 95vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:auto;
}



.tc-left {
  height: 100%;
  width: 5%;
  margin-left: 20px;
  margin-right: 10px;
  display:block;
}

.tc-middle {
  height: 100%;
  width: 45%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: green;
}
.tc-right {
  height: 100%;
  width: 50%;
  margin-left: 10px;
  margin-right: 20px;
}

#purpz {
  background-color: purple;
  height:75%;
  width:50%;
  float: left;
}

#spacer{
  height:25%;
  width: 100%;
  float: left;
}

#circle {
  height:160px;
  width: 160px;
  border-radius: 100%;
  background-color: blue;
  margin-left: 10%;
}
